<div class="panel panel-primary">
  <div class="panel-heading">
      {{pageTitle}}
      <div class="btn btn-warning float-right">
          <span class="glyphicon glyphicon-plus" (click)="addStudent()" style="color:white;"></span>
      </div>
  </div>
  <div class="panel-body">
      <div class="row">
          <div class="col-md-2">Filter by:</div>
          <div class="col-md-4">
              <input type="text"
                  [(ngModel)]="listFilter"/>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <h3>Filtered by: {{listFilter}}</h3>
          </div>
      </div>
  </div>
  <div class="table-responsive">
      <table class="table" *ngIf='students && students.length'>
          <thead>
              <tr>
                  <th *ngIf="showImage">Image</th>
                  <th>Name</th>
                  <th>Class</th>
                  <th>Contact</th>
                  <th>Join Date</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor='let student of filteredStudents'>
                  <td *ngIf="showImage">
                      <img
                          [title]="student.studentName | uppercase" 
                          [style.width.px]="imageWidth" 
                          [style.margin.px]="imageMargin">
                  </td>
                  <td>
                      <a [routerLink]="['/students/:id',student.studentId]">
                          {{student.studentName}}
                      </a>
                  </td>
                  <td>{{student.studentClass}}</td>
                  <td>{{student.contact}}</td>
                  <td>{{student.joinDate}}</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>